body{
    margin: 0;
    padding: 0;
    width: 100%;
}

h1 {
    font-size: 55px;
    text-align: center;
    color: #fff;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 40px;
    text-align: center;
    color: #fff;
    margin: 0;
    padding: 0;
}

h3 {
    font-size: 16px;
    text-align: center;
    margin: 5px 0;
    padding: 0;
    z-index: 1;
    position: relative;
}

.center { margin: 0 auto; }
.content{ margin: 0 auto; width: 960px; }
.clear { clear: both; }
.font-white { color: white; font-weight: 100; }
.font-gray { color: #333; font-weight: 100; }
.link.font-white { text-decoration: underline; }
.link.font-gray { text-decoration: underline; }
.link.font-white:hover { color: #ddd; }
.link.font-gray:hover { color: #555; }

.navbar {
    background-color: rgba(0,0,0,0.15);
}

#home, #about{ width: 100%; }
#home{
    background: url('../resources/sail1.jpg') 50% 0 no-repeat fixed;
    margin: 0;
    height: 600px;
    padding: 200px 0;
    background-size: cover;
    filter: grayscale(0.65);
    opacity: 0;
}

#about{
    background-color: #fff;
    margin: 0;
    overflow: hidden;
    padding: 100px 0;
}

#roster{
    background: url('../resources/sail2.jpg') 50% 0 no-repeat fixed;
    padding: 100px 0;
    margin: 0;
    background-size: cover;
    filter: grayscale(0.5);
    opacity: 0;
}

#executive{
    background-color: #fff;
    margin: 0;
    overflow: hidden;
    padding: 100px 0;
    filter: grayscale(0.5);
}

#gallery{
    background-color: #fff;
    margin: 0;
    overflow: hidden;
    padding: 0 0 100px 0;
}

#contact{
    background: url('../resources/sail3.jpg') 50% 0 no-repeat fixed;
    margin: 0;
    padding: 100px 0;
    background-size: cover;
    filter: grayscale(0.65);
    opacity: 0;
}

#donate{
    background-color: #fff;
    margin: 0;
    overflow: hidden;
    padding: 100px 0;
}

#footer {
    height: 150px;
    padding: 50px 0;
    margin: 0;
    background-color: rgba(0,0,0,0.1);
}

img.roster {
    overflow: hidden;
    object-fit: cover;
}

.wow {
    visibility: hidden;
}